<!doctype html5>
<html>

    <head>
        <title>COUNTERS</title>

        <script src="/static/js/pages/counter.bundle.js"></script>
    </head>

    <body>
        <h1>{{counter.name}}</h1>

        <div id="events">
        </div>

        <div id="new_event">
            <form method="POST">
                <input type="number" name="quantity" placeholder="Quantity"></input>
                <button>Add new event</button>
            </form>
        </div>
    </body>

</html>