<!doctype html5>
<html>

    <head>
        <title>COUNTERS</title>

        <script src="/static/js/pages/counter.js"></script>
    </head>

    <body>
        <h1>{{counter.name}}</h1>

        <div id="events">
            <table>
                {{#each events}}
                    <tr>
                        <td>{{quantity}} {{../counter.unit}}</td>
                        <td>{{timestamp}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div id="new_event">
            <form method="POST">
                <input type="number" name="quantity" placeholder="Quantity"></input>
                <button>Add new event</button>
            </form>
        </div>
    </body>

</html>