<!doctype html5>
<html>

    <head>
        <title>COUNTERS</title>
    </head>

    <body>
        <h1>COUNTERS</h1>

        <div id="counters">
            <ul>
                {{#each counters}}
                    <li>
                        <a href="/counter/{{url}}">{{name}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </body>

</html>