<!doctype html5>
<html>

    <head>
        <title>COUNTERS</title>
        <script type="text/javascript" src="/static/js/pages/index.js" /></script>
    </head>

    <body>
        <h1>COUNTERS</h1>
    </body>

</html>