<!doctype html5>
<html>

    <head>
        <title>COUNTERS</title>
        <script type="text/javascript" src="/static/js/pages/index.js"></script>
        <script type="text/javascript" src="/static/js/handlebars.min-v4.0.11.js"></script>
    </head>

    <body>
        <h1>COUNTERS</h1>

        <div id="js-counters"></div>
    </body>

</html>