<table class="table table-striped table-hover">
    {{#each events}}
        <tr>
            <td>{{quantity}} {{../counter.unit}}</td>
            <td>{{formattedTimestamp}}</td>
        </tr>
    {{/each}}
</table>